name: trial_workflow
on: push
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - name: greeting
        run: echo "hello there today"
      - name: asking
        run: echo "are you okay?"
 
